html, body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    font-size: 16px;
    background-color: rgb(216,216,216);
    color: rgb(80,80,80);
}
@font-face{
    font-family: 'Open Sans', sans-serif;
}
::selection{
    background: transparent;
}
::-moz-selection{
    background: transparent;
}
main{
    width: 90%;
    margin: auto;
}
p{
    margin: 0;
}
main > header{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    max-width: 930px;
}
main > header > span:first-child{
    float: left;
    width: 53%;
    height: 35%;
    font-size: 2.5em;
    background-color: black;
    color: white;
    padding: 5% 0 3% 0;
    border-radius: 0 0 10px 10px;
    text-align: center;
}
main > header > span:last-child{
    float: right;
    width: 45%;
    height: 35%;
    padding: 6% 0 0 0;
    font-size: 0.8em;
    text-align: center;
}
#wrap{
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    min-height: 700px;
}
#wrap header{
    background-color: black;
    color: white;
    font-size: 1.3em;
    padding:1% 0 1% 2%;
}
ul{
    margin: auto;
    width: 85%;
    background-color: white;
    padding-bottom: 3%;
}
li{
    display: none;
    list-style: none;
}
#productcolumn{
    width: 35%;
    float: left;
    background-color: rgba(208,208,208, 0.9);
    border-radius: 0 0 10px 10px;
}

.productlist{
    display: none;
}
#productcolumn > section:first-child > header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#productcolumn > section:last-child > header{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#productcolumn > section:last-child > header.unrounded{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#productcolumn > section:last-child > ul{
    padding-bottom: 0;
}
.productlist:hover{
    color: darkorange;
}
.storeheader{
    cursor: pointer;
}
ul.expanded > li{
    width: 90%;
    display: list-item;
    cursor: pointer;
    font-size: 0.7em;
    padding-bottom: 1%;
}
ul.expanded > li:first-child{
    padding-top: 3%;
}
ul.expanded > li:last-child{
    padding-bottom: 3%;
}
#productcolumn > section:last-child > ul.expanded{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#bowlcolumn{
    width: 60%;
    float: right;
    background-color: rgba(208,208,208, 0.9);
    border-radius: 0 0 10px 10px;
}
#bowlcolumn > header{
    border-radius: 10px 10px 0 0;
}
#bowlcolumn ul{
    width: 91%;
    display: block;
    border-radius: 0 0 10px 10px;
}
li.inbowl:first-child{
    padding-top: 1%;
}
li.inbowl:last-child{
    padding-bottom: 1%;
}
li.inbowl{
    display: list-item;
}
li.inbowl > p{
    display: inline-block;
    width: 5%;
    font-size: 0.8em;
}
li.inbowl > p:first-child{
    width: 60%;
    margin-right: 5%;
}
li.inbowl > p:last-child{
    margin-left: 5%;
    width: 20px;
    height: 20px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    background: url("icons.svg") no-repeat fixed 10px -10px;
}
li.inbowl > p:last-child:hover{
    box-shadow: 0 0 0px 1px #000;
    -moz-box-shadow: 0 0 0px 1px #000;
    -webkit-box-shadow: 0 0 0px 1px #000;
}
input{
    width: 5%;
    margin-left: 1%;
}
footer{
    clear: both;
    padding-top: 1%;
    margin: auto;
}
footer > div{
    width: 90%;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 10px;
}
footer > div > div{
    width: 45%;
    display: inline-block;
    padding: 1% 0 1% 0;
    text-align: center;
}