html, body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    font-size: 16px;
    background-color: rgb(216,216,216);
    color: rgb(80,80,80);
}
@font-face{
    font-family: 'Open Sans', sans-serif;
}
::selection{
    background: transparent;
}
::-moz-selection{
    background: transparent;
}
main{
    width: 1000px;
    height: 905px;
    margin: 0 auto;
    background: url("wow1.svg") no-repeat 340px 70px;
    background-size: 950px 821px;
}
a{
    text-decoration: none;
    color: white;
}
p{
    margin: 0;
}
li{
    display: none;
    list-style: none;
}
ul{
    background-color: rgba(255,255,255, 0.9);
}
main > header{
    height: 13.96648044692737%;/*150/1074*/
}
main > header > span:first-child{
    float: left;
    width: 63.4765625%;/*650/1024*/
    height: 53.33333333333333%;/*80/150*/
    padding-top: 6.8359375%;/*70/1024*/
    font-size: 2.875em;/*46/16*/
    background-color: black;
    color: white;
    border-radius: 0 0 10px 10px;
    text-align: center;
}
main > header > span:last-child{
    float: right;
    width: 34.1796875%;/*350/1024*/
    padding-top: 7.8125%;/*80/1024*/
    font-size: 0.875em;/*14/16*/
    text-align: center;
}
#wrap{
    margin-top: 2.865329512893983%;/*30/1074*/
}
#wrap header{
    background-color: black;
    color: white;
    font-size: 1.75em;/*28/16*/
}
#productcolumn{
    width: 39.0625%;/*400/1024*/
    float: left;
    border-radius: 10px;
}
#productcolumn > section > header > span{
    width: 32px;
    height: 30px;
    background: url("icons.svg") 108px 85px;
    background-size: 140px 140px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
#productcolumn > section > header{
    padding: 1.25%;/*5/400*/
}
#productcolumn > section > header > p{
    display: inline-block;
    margin-left: 2.5%;/*10/400*/
}
#productcolumn > section > header > span.expanded{
    background: url("icons.svg") 75px 85px;
    background-size: 140px 140px;
}
#productcolumn > section:first-child > header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#productcolumn > section:last-child > header{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#productcolumn > section:last-child > header.unrounded{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#productcolumn > section > ul{
    margin: 0 auto;
    padding-bottom: 3.75%;/*15/400*/
    font-size: 1em;
}
#productcolumn > section:last-child > ul{
    padding-bottom: 0;
}
.productlist:hover{
    color: rgb(192,0,0);
}
.alertalert{
    color: rgb(192,0,0);
}
ul.expanded > li{
    display: list-item;
    cursor: pointer;
    padding-bottom: 0.8571428571428571%;/*3/350*/
}
ul.expanded > li:first-child{
    padding-top: 2.857142857142857%;/*10/350*/
}
ul.expanded > li:last-child{
    padding-bottom: 2.857142857142857%;/*10/350*/
}
#productcolumn > section:last-child > ul.expanded{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#bowlcolumn{
    width: 58.59375%;/*600/1024*100*/
    float: right;
    border-radius: 10px;
}
#bowlcolumn > header{
    padding-left: 3.333333333333333%;/*20/600*/
    border-radius: 10px 10px 0 0;    
}
#bowlcolumn ul{
    padding-bottom: 3.636363636363636%;/*20/550*/
    border-radius: 0 0 10px 10px;
    font-size: 1em;
    margin: 0 auto;
}
li.inbowl:first-child{
    padding-top: 1.818181818181818%;/*10/550*/
}
li.inbowl:last-child{
    padding-bottom: 1.818181818181818%;/*10/550*/
}
li.inbowl{
    display: list-item;
}
li.inbowl > p{
    display: inline-block;
    width: 6.363636363636364%;/*35/550*/
}
li.inbowl > p:first-child{
    width: 69.09090909090909%;/*380/550*/
}
li.inbowl > div{
    margin-left: 4.545454545454545%;/*25/550*/
    width: 32px;
    height: 30px;
    background: url("icons.svg") 141px 85px;
    background-size: 140px 140px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}
#bowlcolumn ul.filled{
    padding-bottom: 0;
}
input{
    width: 5.454545454545455%;/*30/550*/
}
@media screen and (max-width: 1024px){
    main{
        width: 740px;
        background: url("wow1.svg") no-repeat 120px 110px;
        background-size: 900px 778px;
    }
    main > header > span:first-child{
        font-size: 2.375em;/*38/16*/
        height: 60px;
        padding-top: 60px;
    }
    main > header > span:last-child{
        font-size: 0.75em;/*12/16*/
    }
    #productcolumn > section > header, #bowlcolumn > header{
        font-size: 1.375em;/*22/16*/
    }
    #productcolumn > section > ul, #bowlcolumn ul{
        font-size: 0.875em;/*14/16*/
    }
}
@media screen and (max-width: 768px){
    main{
        width: 450px;
        background: url("wow1.svg") no-repeat 0px 210px;
        background-size: 650px 561px;
    }
    main > header{
        height: 150px;
    }
    main > header > span:first-child{
        float: none;
        display: block;
        width: 100%;
        height: 36.66666666666667%;/*55/150*/
        padding-top: 7.777777777777778%;/*35/450*/
    }
    main > header > span:last-child{
        float: none;
        display: block;
        width: 90%;
        margin: 0 auto;
        padding-top: 1.302083333333333%;/*10/768*/
    }
    #wrap{
        margin-top: 1.302083333333333%;/*10/768*/
    }
    #productcolumn{
        float: none;
        width: 100%;
    }
    #productcolumn > section > header{
        padding: 0.390625%;/*3/768*/
        padding-left: 1.302083333333333%;/*10/768*/
    }
    #productcolumn > section > ul, #bowlcolumn ul{
        padding-bottom: 1.302083333333333%;/*10/768*/
        font-size: 14px;
    }
    #bowlcolumn{
        float: none;
        width: 100%;
        margin-top: 1.302083333333333%;/*10/768*/
    }
    ul.expanded > li{
        padding-bottom: 0.1302083333333333%;/*1/768*/
    }
    ul.expanded > li:first-child, li.inbowl:first-child{
        padding-top: 0.2604166666666667%;/*2/768*/
    }
    ul.expanded > li:last-child, li.inbowl:last-child{
        padding-bottom: 0.2604166666666667%;/*2/768*/
    }
    input{
        height: 1.953125%;/*15/768*/
    }
}
@media screen and (max-width: 480px){
    main{
        width: 320px;
        background: url("wow1.svg") no-repeat 10px 250px;
        background-size: 450px 389px;
    }
    main > header{
        height: 120px;
    }
    main > header > span:first-child{
        padding-top: 7.8125%;/*25/320*/
        font-size: 1.75em;/*28/16*/
        height: 33.33333333333333%;/*40/120*/
    }
    main > header > span:last-child{
        height: 50%;/*60/120*/
        font-size: 0.75em;/*12/16*/
        padding-top: 1.5625%;/*5/320*/
        margin: 0 auto;
    }
    #productcolumn > section > header{
        padding-top: 0;
        padding-bottom: 1.5625%;/*5/320*/
    }
    #productcolumn > section > header > p{
        font-size: 1.181818181818182em;/*26/22*/
        margin-left: 1.5625%;/*5/320*/
        padding-top: 3px;
    }
    #productcolumn > section > ul, #bowlcolumn ul{
        font-size: 12px;
    }
    #productcolumn > section > ul > li{
        padding-top: 1.5625%;/*5/320*/
    }
    #bowlcolumn > header{
        font-size: 26px;/*26/19*/;
        padding-top: 0;
    }
    #bowlcolumn ul{
        padding-left: 1.5625%;/*5/320*/
    }
    li.inbowl > div{
        margin-left: 1.5625%;/*5/320*/
    }
}
@media screen and (max-width: 320px){
    main{
        width: 210px;
        background: url("wow1.svg") no-repeat 0 260px;
        background-size: 300px 259px;
    }
    main > header{
        height: 140px;
    }
    main > header > span:first-child{
        padding-top: 2.380952380952381%;/*5/210*/
        font-size: 1.375em;/*22/16*/
        height: 42.85714285714286%;/*60/140*/
    }
    main > header > span:last-child{
        height: 0.4642857142857143%;/*65/140*/
        font-size: 0.625em;/*10/16*/
        margin: 0 auto;
    }
    #productcolumn > section > header{
        padding-top: 0;
    }
    #productcolumn > section > header > p{
        width: 100%;
        font-size: 18px;
        text-align: center;
        padding-top: 8px;
        margin-left: 0;
    }
    #productcolumn > section > header > span{
        display: none;
    }
    #productcolumn > section > ul{
        padding-left: 5px;
    }
    #productcolumn > section > ul > li{
        padding-top: 5px;
    }
    #bowlcolumn > header{
        width: 100%;
        font-size: 18px;
        text-align: center;
        padding-top: 8px;
        padding-left: 0;
    }
    #bowlcolumn ul{
        padding-left: 5px;
    }
    li.inbowl > div{
        margin-left: 5px;
    }
}

