html, body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    font-size: 16px;
    background-color: rgb(216,216,216);
    color: rgb(80,80,80);
}
@font-face{
    font-family: 'Open Sans', sans-serif;
}
::selection{
    background: transparent;
}
::-moz-selection{
    background: transparent;
}
main{
    width: 992px;
    height: 905px;
    margin: 0 auto;
    background: url("wow1.svg") no-repeat 340px 40px;
    background-size: 950px 872px;
}
a{
    text-decoration: none;
    color: white;
}
p{
    margin: 0;
}
li{
    display: none;
    list-style: none;
}
main > header{
    height: 13.96648044692737%;/*150/1074*/
}
main > header > span:first-child{
    float: left;
    width: 63.4765625%;/*650/1024*/
    height: 53.33333333333333%;/*80/150*/
    padding-top: 6.8359375%;/*70/1024*/
    font-size: 2.875em;/*46/16*/
    background-color: black;
    color: white;
    border-radius: 0 0 10px 10px;
    text-align: center;
}
main > header > span:last-child{
    float: right;
    width: 34.1796875%;/*350/1024*/
    padding-top: 7.8125%;/*80/1024*/
    font-size: 0.875em;/*14/16*/
    text-align: center;
}
#wrap{
    margin-top: 2.865329512893983%;/*30/1074*/
}
#wrap header{
    background-color: black;
    color: white;
    font-size: 1.75em;/*28/16*/
}
#productcolumn{
    width: 39.0625%;/*400/1024*/
    float: left;
    border-radius: 10px;
    background-color: rgba(208,208,208, 0.9);
}
#productcolumn > section > header > span{
    width: 32px;
    height: 30px;
    background: url("icons.svg") 108px 85px;
    background-size: 140px 140px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
#productcolumn > section > header{
    padding: 1.25%;/*5/400*/
}
#productcolumn > section > header > p{
    display: inline-block;
    margin-left: 2.5%;/*10/400*/
}
#productcolumn > section > header > span.expanded{
    background: url("icons.svg") 75px 85px;
    background-size: 140px 140px;
}
#productcolumn > section:first-child > header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#productcolumn > section:last-child > header{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#productcolumn > section:last-child > header.unrounded{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#productcolumn > section > ul{
    margin: 0 auto;
    width: 87.5%;/*350/400*/
    background-color: white;
    padding-bottom: 3.75%;/*15/400*/
    font-size: 1em;
}
#productcolumn > section:last-child > ul{
    padding-bottom: 0;
}
.productlist:hover{
    color: rgb(192,0,0);
}
.alertalert{
    color: rgb(192,0,0);
}
ul.expanded > li{
    display: list-item;
    cursor: pointer;
    padding-bottom: 0.8571428571428571%;/*3/350*/
}
ul.expanded > li:first-child{
    padding-top: 2.857142857142857%;/*10/350*/
}
ul.expanded > li:last-child{
    padding-bottom: 2.857142857142857%;/*10/350*/
}
#productcolumn > section:last-child > ul.expanded{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#bowlcolumn{
    width: 58.59375%;/*600/1024*100*/
    float: right;
    background-color: rgba(208,208,208, 0.9);
    border-radius: 10px;
}
#bowlcolumn > header{
    padding-left: 3.333333333333333%;/*20/600*/
    border-radius: 10px 10px 0 0;    
}
#bowlcolumn ul{
    width: 91.66666666666667%;/*550/600*/
    padding-bottom: 3.636363636363636%;/*20/550*/
    border-radius: 0 0 10px 10px;
    font-size: 1em;
    margin: 0 auto;    
    background-color: white;
}
li.inbowl:first-child{
    padding-top: 1.818181818181818%;/*10/550*/
}
li.inbowl:last-child{
    padding-bottom: 1.818181818181818%;/*10/550*/
}
li.inbowl{
    display: list-item;
}
li.inbowl > p{
    display: inline-block;
    width: 6.363636363636364%;/*35/550*/
}
li.inbowl > p:first-child{
    width: 69.09090909090909%;/*380/550*/
}
li.inbowl > div{
    margin-left: 4.545454545454545%;/*25/550*/
    width: 32px;
    height: 30px;
    background: url("icons.svg") 141px 85px;
    background-size: 140px 140px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}
#bowlcolumn ul.filled{
    padding-bottom: 0;
}
input{
    width: 5.454545454545455%;/*30/550*/
}
@media (max-width: 1010px){
    main{
        width: 768px;
        background: url("wow1.svg") no-repeat 240px 230px;
        background-size: 750px 672px;
    }
    main > header{
        height: 150px;
    }
    main > header > span:first-child{
        float: none;
        display: block;
        width: 100%;
        height: 43.33333333333333%;/*65/150*/
        padding-top: 4.557291666666667%;/*35/768*/
    }
    main > header > span:last-child{
        float: none;
        display: block;
        width: 90%;
        margin: 0 auto;
        padding-top: 1.302083333333333%;/*10/768*/
    }
    #wrap{
        margin-top: 1.302083333333333%;/*10/768*/
    }
    #productcolumn{
        float: none;
        width: 100%;
    }
    #productcolumn > section > header{
        padding: 0.390625%;/*3/768*/
        padding-left: 1.302083333333333%;/*10/768*/
    }
    #productcolumn > section > ul{
        padding-bottom: 1.302083333333333%;/*10/768*/
        width: 93.09895833333333%;/*715/768*/
        font-size: 14px;
    }
    #bowlcolumn{
        float: none;
        width: 100%;
        margin-top: 1.302083333333333%;/*10/768*/
    }
    #bowlcolumn ul{
        padding-bottom: 1.302083333333333%;/*10/768*/
        width: 93.09895833333333%;/*715/768*/
        font-size: 14px;
    }
    ul.expanded > li{
        padding-bottom: 0.1302083333333333%;/*1/768*/
    }
    ul.expanded > li:first-child, li.inbowl:first-child{
        padding-top: 0.2604166666666667%;/*2/768*/
    }
    ul.expanded > li:last-child, li.inbowl:last-child{
        padding-bottom: 0.2604166666666667%;/*2/768*/
    }
    input{
        height: 1.953125%;/*15/768*/
    }
}
@media (max-width: 772px){
    main{
        width: 480px;
        background: url("wow1.svg") no-repeat 0 195px;
        background-size: 700px 612px;
    }
    main > header{
        height: 120px;
    }
    main > header > span:first-child{
        padding-top: 5px;
        font-size: 36px;
        height: 60px;
    }
    main > header > span:last-child{
        height: 60px;
        font-size: 14px;
        padding-top: 0;
        margin: 0 auto;
    }
    #productcolumn > section > header{
        height: 35px;
        padding-top: 0;
        padding-bottom: 10px;
    }
    #productcolumn > section > header > p{
        font-size: 28px;
        vertical-align: middle;
    }
    #productcolumn > section > ul{
        width: 90%;
        font-size: 14px;
    }
    #bowlcolumn > header{
        height: 35px;
        padding-top: 0;
    }
    #bowlcolumn ul{
        width: 90%;
        font-size: 14px;
    }
}

